.row {
	padding: 1rem 1rem 0
}
.column {
	position: relative;
	display: block;
	background: #f9f9f9;
	background: rgb(249,249,249);
	text-align: center
}
.column + .column {
	margin-top: 1rem
}
@media all and (min-width: 45em) {
.column {
	float: left
}
.column + .column {
	margin: 0 0 0 1.5%
}
.col-1 {
	width: 6.958333%
}
.col-2 {
	width: 15.416666%
}
.col-3 {
	width: 23.874999%
}
.col-4 {
	width: 32.333332%
}
.col-5 {
	width: 40.791665%
}
.col-6 {
	width: 49.25%
}
.col-7 {
	width: 57.708335%
}
.col-8 {
	width: 66.166668%
}
.col-9 {
	width: 74.625001%
}
.col-10 {
	width: 83.083334%
}
.col-11 {
	width: 91.541667%
}
.col-12 {
	width: 100%
}
}
